<form [formGroup]="todoForm">
    <div class="row">
        <div class="col">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Titulo</mat-label>
                <input matInput formControlName="title" placeholder="Nueva tarea">
                <mat-error *ngIf="todoForm.get('title')?.hasError('required')">
                    El titulo es requerido
                </mat-error>
                <mat-error *ngIf="todoForm.get('title')?.hasError('minlength')">
                    El titulo debe tener al menos 10 caracteres
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="full-width">
                <mat-label>Fecha</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date">
                <mat-datepicker-toggle matIconSuffix [for]="picker">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="todoForm.get('date')?.hasError('required')">
                    La fecha es requerida
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Hora</mat-label>
                <input mask="00:00" matInput formControlName="time" placeholder="HH:MM">
                <mat-error *ngIf="todoForm.get('time')?.hasError('required')">
                    La hora es requerida
                </mat-error>
                <mat-error *ngIf="todoForm.get('time')?.hasError('max')">
                    Formato de hora incorrecto
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Descripción</mat-label>
        <textarea matInput formControlName="description" placeholder="Ejemplo descripción de la tarea..."></textarea>
        <mat-error *ngIf="todoForm.get('description')?.hasError('required')">
            La descripción es requerida
        </mat-error>
        <mat-error *ngIf="todoForm.get('description')?.hasError('minlength')">
            La descripción debe tener mas de 15 digitos
        </mat-error>
    </mat-form-field>

    <div class="button-container">
        <button mat-raised-button type="button" (click)="cancel()" style="color: red"><mat-icon>refresh</mat-icon> Cancelar</button>&nbsp;
        <button mat-raised-button type="button" (click)="onSubmit()" [disabled]="todoForm.invalid" color="primary"><mat-icon>save</mat-icon> Guardar</button>
    </div>
</form>